# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = ian villeda
#	email = ian.villeda@gmail.com
[user]
	email = ian.villeda@gmail.com
[core]
	pager = 
